

/* ===== HOMEPAGE VIDEO ANIMATION ======= */

/* main wrappers */
#wrapper_container {  width:100%; margin-right:21px; overflow:hidden; position:relative; }
		
		#wrapper_image_panel  {    height: 415px;   background: url(../images/screens/1_start_page.png) no-repeat; background-size:100%; position:relative; 
															-webkit-animation: animateBg 30s linear 1s forwards  }
		.image_panel { width:770px; height: 415px; position:absolute;  }
			.image_enter_task { background: url(../images/screens/2_enter_task.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 6s forwards;  opacity: 0; z-index:1;}		
			.image_task_added { background: url(../images/screens/3_task_added.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 9s forwards;  opacity: 0;  z-index:2;}		
			.image_task_added_two { background: url(../images/screens/3_1_task_added.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 14.5s forwards;  opacity: 0;  z-index:3;}		
			.image_task_added_three { background: url(../images/screens/3_2_task_added.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 15.5s forwards;  opacity: 0;  z-index:4;}	

			.image_timer_one { background: url(../images/screens/4_timer.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 38.5s forwards;  opacity: 0;  z-index:5;}			
			.image_timer_two { background: url(../images/screens/4_1_timer.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 39.5s forwards;  opacity: 0;  z-index:6;}	
			.image_timer_three { background: url(../images/screens/4_2_timer.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 40.5s forwards;  opacity: 0;  z-index:7;}	
			.image_timer_four { background: url(../images/screens/4_3_timer.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 41.5s forwards;  opacity: 0;  z-index:8;}	
			.image_timer_five { background: url(../images/screens/4_4_timer.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn  0.5s linear 42.5s forwards;  opacity: 0;  z-index:9;}		

			.image_edit_task { background: url(../images/screens/5_edit_task.png) no-repeat;   background-size:100%; -webkit-animation: fadeInOut  3.5s linear 48.5s forwards;  opacity: 0;  z-index:10;}	
			.image_complete_task { background: url(../images/screens/6_complete_task.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn 0.5s linear 54.5s forwards;  opacity: 0;  z-index:11;}		
			.image_delete_task { background: url(../images/screens/7_delete_task.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn 0.5s linear 61.5s forwards;  opacity: 0;  z-index:12;}		
			.image_end { background: url(../images/screens/8_end.png) no-repeat;   background-size:100%; -webkit-animation: fadeIn 0.5s linear 63.5s forwards;  opacity: 0;  z-index:13;}			

	
		/* content bubble  */		
		.wrapper_bubble {  background:#333333; border:1px solid #666666; color: #fff; font-size:12px; font-weight:bold; margin:10px auto; padding:10px 18px; position:absolute; text-align:center; width:auto;  z-index:99; 
											-moz-border-radius:10px; -webkit-border-radius:10px; -moz-box-shadow:0 0 5px #888888; -webkit-box-shadow:0 0 5px #888888;   min-height: 20px;   opacity:0; }
		
			.bubble_arrow_border {  border-style: solid; border-width: 10px; height:0; width:0; position:absolute;  }
			.bubble_arrow {  border-style: solid;  border-width: 10px; height:0; width:0; position:absolute; }				
				
				/* top arrow */
				.arrow_top_border {  border-color:  transparent transparent  #666666 transparent; top:-20px; left:30px; }
				.arrow_top {border-color: transparent  transparent #333 transparent; top: -18px; left:30px; }
				
				/* bottom arrow */
				.arrow_bottom_border {  border-color: #666666  transparent transparent  transparent;   top: 61px; left:30px; }
				.arrow_bottom {border-color: #333 transparent  transparent  transparent; top: 59px; left:30px; }
		
				/* left arrow */
				.arrow_left_border {  border-color:  transparent transparent  transparent  #666666;   top: 10px;   right: -41px;  border-width: 10px 20px;}
				.arrow_left {border-color:  transparent transparent transparent #333 ; top: 10px; right: -39px; border-width: 10px 20px; }
				
				
				/* left arrow */
				.arrow_right_border {  border-color:  transparent #666666 transparent  transparent ;   top: 10px;   left: -41px;  border-width: 10px 20px;}
				.arrow_right {border-color:  transparent #333 transparent transparent  ; top: 10px; left: -39px; border-width: 10px 20px; }
		
				/* bubble positions */
				.enter_task { top: 80px; left: 21px;  -webkit-animation: fadeInOut 3.5s linear 2s forwards; }
				
				.task_added { top: 64px; left: 450px;  -webkit-animation: fadeInOut 3.5s linear 10.5s forwards; }
				.more_task_added {  top: 144px;   left: 450px;  -webkit-animation: fadeInOut 3.5s linear 16.5s forwards; }
				
				.new_task_totals { top: 236px; left: 260px;  -webkit-animation: fadeInOut 3.5s linear  21.5s forwards; }
				
				.start_timer { top: 80px; left: 200px;  -webkit-animation: fadeInOut 3.5s linear 26.5s forwards;  }
				
				.timer_instructions { top: 50px; right: 245px;  -webkit-animation: fadeInOut 6.5s linear 31.5s forwards;  }
				
				.edit_task { top: 190px; left: 65px;  -webkit-animation: fadeInOut 3.5s linear 44.5s forwards; }
				
				.complete_task { top: 195px; left: 7px; -webkit-animation: fadeInOut 3.5s linear 52.5s forwards; }
					.complete_task .arrow_top_border {  left: 10px; }
					.complete_task .arrow_top { left: 10px; }
					
				.delete_task { top: 195px; left: 412px;  -webkit-animation: fadeInOut 3.5s linear 57.5s forwards; }
					.delete_task .arrow_top_border {  left: 63px; }
					.delete_task .arrow_top { left: 63px; }
				

@-webkit-keyframes fadeIn { 100% { opacity:1; } }
@-webkit-keyframes fadeInOut {100% { opacity:0;  } 10% { opacity:1;  }  90% {opacity:1;} 100% { opacity:0;  } }


@-webkit-keyframes animateBg_ {	
	/* tasks */
	2% { -webkit-transform: translateX(25%) translateY(10%) scale(1.5)  }
	22% { -webkit-transform: translateX(25%) translateY(10%) scale(1.5)  }
	
	/* task / more tasks added */
	24% { -webkit-transform: translateX(25%) translateY(-20%) scale(1.5)  }
	65% { -webkit-transform: translateX(25%) translateY(-20%) scale(1.5)  }
	
	/* stats */
	67% { -webkit-transform: translateX(-25%) translateY(-25%) scale(1.5)  }
	82% { -webkit-transform: translateX(-25%) translateY(-25%) scale(1.5)  }
	
	/* timer */
	84% { -webkit-transform: translateX(-25%) translateY(15%) scale(1.5) }   
	98% { -webkit-transform: translateX(-25%) translateY(15%) scale(1.5) } 
	
	/* full screen */
	99% { -webkit-transform: translateX(0%) translateY(0%) scale(1)  }
 }