
  .task-holder 			                { }
  .task-holder .task	              {  }
   
  .edit .todo-input                 { display:none;width:98%;}
  .editing .display                 { display:none;}
  .editing input                    { display: block !important;}
  
  .timer-holder			                {  }
  .timer-holder .time               { font-size:80px;margin:0 0 20px 20px;cursor:pointer;}
  .timer-holder .time:hover         { color : #9f11d3;}
  .title				                    { color:#e5e1e1;position:relative;top:30px;}
  .taskInput                        { width:98%;height:40px;font-size:18pt;color:#9f11d3;}

  #todo-list                        { font-size:14px;}
  #todo-list .done                  { text-decoration:line-through;}
  #todo-list .checkArea             { width:15px;}
  #todo-list .removeArea            { width:15px;}

  .totalArea                        { margin: 25px 0 0 3px;}