body 					   { color:#FFF;background:url(../images/main-bk.png) no-repeat center top;font-family:Arial, Helvetica, sans-serif;}
  .main            		   { width:1200px;margin:0 auto;height:100%;}
  .holder				   { margin:0 auto 0 auto;width:800px;position:relative;}
  .task-holder 			   { position:relative;top:50px;float:left;width:400px;height:400px;}
  .task-holder input	   { width:400px;height:40px;padding-left:5px;background-color:#1e1e1e;color:#9f11d3;font-size:14pt;font-family:Helvetica, Arial;
	  						-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
  
  .timer-holder			   { position:relative;top:50px;float:left;width:400px;height:400px; }
  .timer-holder .time      { margin:0 0 0 100px;font-size:70pt;text-shadow: 4px 4px 4px #000;color:#636363;cursor:pointer;border:2px solid #DDD; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; background-color:#1e1e1e;padding-left:5px;}
  .timer-holder .time:hover {color : #9f11d3;}
  .title				   { color:#e5e1e1;position:relative;top:30px;}
