
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Digital Pomodoro</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
	
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="js/prefixfree.min.js"></script>
  </head>

  <body>
    <!-- settings dialog -->
    <div id="settingsModal" class="modal hide fade">
      <!-- dialog contents -->
      <div class="modal-body">
          <h2>Settings</h2>
          <br />
          <div class="data-row">
            <div class="control-group js_setting_element">
              <label>Pomodoro Time (mins): </label>
              <select tabindex=0 id="PomodoroTime" rel="long_range" class="js_time_setting">
              </select>
              <span class="js_save_message hide help-inline"><i class="icon-ok-circle"></i> Saved</span>
            </div>
          </div>
          <div class="data-row">
            <div class="control-group js_setting_element">
              <label>Rest Time (mins): </label>
              <select tabindex=1 id="ShortRestTime" rel="short_range" class="js_time_setting">
              </select>
              <span class="js_save_message hide help-inline"><i class="icon-ok-circle"></i> Saved</span>
            </div>
          </div>
          <div class="data-row">
            <button id="AllowNotifications">Allow Webkit Notifications</button>
          </div>
      </div>
      
      <!-- dialog buttons -->
      <div class="modal-footer">
          <a class="btn primary">Ok</a>
      </div>
    </div>
    <!-- end settings dialog -->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container offset1">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Digital Pomodoro</a>
          <div class="nav-collapse">
            <ul id="navigation" class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#pomodoro">My Workspace</a></li>
              <li><a id="settings_option" href="#">Settings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container main">
      <!-- Home -->
      <div id="home" class="hide">
        <!-- start hero -->
        <div id="js_hero" class="hero-unit span10 hero_content">
          <div class="intro">
            <h1>Digital Pomodoro</h2>
            <br />
            <p>
              The Pomodoro Technique&reg; is a way to get the most out of time management. Turn time into a valuable ally to accomplish what we want to do and chart continuous improvement in the way we do it.
            </p>
            <p>
              Francesco Cirillo created the Pomodoro Technique&reg; in the 1980s. It is now practiced by professional teams and individuals around the world.
            </p>
            <p>
              But even better than that, this application encorporates a task list just to make your working life that bit more productive.
            </p>
            <a id="js_watch_tutorial" class="btn btn-primary btn-large">Watch tutorial »</a>
          </div>
          
            <div class="clock">
              <div class="clock_hand"></div>
            </div>
        </div>
        <!-- start hero -->
        <!-- start tutorial -->
        <div id="js_tutorial" class="hide">		
			<div id="wrapper_container">					
				<div id="wrapper_image_panel" >							
						<div class="image_panel image_enter_task"></div>		
						<div class="image_panel image_task_added"></div>
						<div class="image_panel image_task_added_two"></div>
						<div class="image_panel image_task_added_three"></div>			
						<div class="image_panel image_timer_one"></div>	
						<div class="image_panel image_timer_two"></div>	
						<div class="image_panel image_timer_three"></div>	
						<div class="image_panel image_timer_four"></div>	
						<div class="image_panel image_timer_five"></div>		
						<div class="image_panel image_edit_task"></div>
						<div class="image_panel image_complete_task"></div>
						<div class="image_panel image_delete_task"></div>	
						<div class="image_panel image_end"></div>								
				</div>
				<div class="wrapper_bubble enter_task">
					  <span>Enter task and hit Enter</span>
					  <div class="bubble_arrow_border arrow_top_border"></div>
					  <div class="bubble_arrow arrow_top"></div>
				</div>

				<div class="wrapper_bubble task_added">
					  <span>task added and the total updated</span>
					  <div class="bubble_arrow_border arrow_right_border"></div>
					  <div class="bubble_arrow arrow_right"></div>
				</div>	

			<div class="wrapper_bubble more_task_added">
					  <span>add as many tasks as you wish</span>
					  <div class="bubble_arrow_border arrow_right_border"></div>
					  <div class="bubble_arrow arrow_right"></div>
				</div>						
				
				<div class="wrapper_bubble new_task_totals">
					  <span>Totals updated</span>
					  <div class="bubble_arrow_border arrow_left_border"></div>
					  <div class="bubble_arrow arrow_left"></div>
				</div>	
				
				<div class="wrapper_bubble start_timer">
					  <span>click counter to start timer</span>
					  <div class="bubble_arrow_border arrow_left_border"></div>
					  <div class="bubble_arrow arrow_left"></div>
				</div>

				
				<div class="wrapper_bubble timer_instructions">
					  <span>You can control the timer in the following ways</span><br />
					  <span><strong>SINGLE CLICK:</strong> Start and pause the timer</span><br />
					  <span><strong>DOUBLE CLICK:</strong> Reset timer to 25:00</span>
					  <div class="bubble_arrow_border arrow_left_border"></div>
					  <div class="bubble_arrow arrow_left"></div>
				</div>
				
				<div class="wrapper_bubble edit_task">
					  <span>edit a task by double clicking on it</span>
					  <div class="bubble_arrow_border arrow_top_border"></div>
					  <div class="bubble_arrow arrow_top"></div>
				</div>

				<div class="wrapper_bubble complete_task">
					  <span>tick to complete task</span>
					  <div class="bubble_arrow_border arrow_top_border"></div>
					  <div class="bubble_arrow arrow_top"></div>
				</div>

				<div class="wrapper_bubble delete_task">
					  <span>click to delete task</span>
					  <div class="bubble_arrow_border arrow_top_border"></div>
					  <div class="bubble_arrow arrow_top"></div>
				</div>					
				
				<div id="player_controls">
					<div id="start_tasks"><a href="#">Start creating tasks</a></div>
					<div id="replay_video"><a href="#">Replay animation</a></div>									
				</div>
				
			</div>
		 </div>
        <!-- -->
      </div>
      <!-- end Home -->

    <!-- Pomodoro section -->
      <div id="pomodoro" class="hide">
        
        <!-- TASKS-->
         <div class="row">
        
          <div class="span6 offset1">
            <div class="clearfix">
                <div class="input task-holder">
                    <input id="task" class="xlarge taskInput" type="text" placeholder="Enter your task here and press enter." />
                </div>
            </div>
          </div>
          
          <!-- TIMER -->
          <div class="span3 well timer-holder">
            <i class="icon-time"></i>
            <a id="js_fullscreen" href="#" class="fullScreen hide">
              <i class="icon-resize-full"></i>
            </a>
            <div id="js_rest_options" class="restOptions hide">
                <button id="js_cancel_rest" class="btn btn-inverse">Back to work</button>
                <button id="js_take_a_rest" class="btn btn-primary">Take a rest</button>
            </div>
            <div class="time"></div>

            <!-- TIMER MODAL -->
            <div id="fullScreenTimerModal" class="modal hide">
              
              <div class="modal-body">
                <div id="js_time_area" class="full_screen_time"></div>
              </div>
              <!-- dialog buttons -->
              <div class="modal-footer">
                  <a class="btn primary">Ok</a>
              </div>
            </div>
            <!-- END OF TIMER MODAL -->

          </div>
          
        </div>
        <!-- END OF FIRST ROW -->
        <div class="row">
          <div class="span6 offset1">
			    <div class="totalArea">
				  <span id="total"></span>
				  <div class="btn-group task_type">
				   <a id="js_filter" class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
					 All
					 <span class="caret"></span>
				   </a>
				   <ul class="dropdown-menu">
					 <li><a id="InProgress">In Progress</a></li>
					 <li><a href="#">Complete</a></li>
				   </ul>
				 </div>
			</div>
              <div id="js_noTasks" class="alert alert-info">
                 <h3>You have no Tasks!</h3><br />
                 <p>If you have completed them all Well done.</p>
                 <p>If not, what are you waiting for? enter some above and start organising yourself!.</p>
              </div>

              <table class="table table-striped" id="todo-list">
             
              </table>
          </div>
          
          <div id="statistics" class="span3 well">
            <i class="icon-pencil"></i>
            <span class="header"><strong>Statistics</strong></span>
            <div id="pomodoros_today" class="data-row">
              <span class="label label-info data">0</span>
              <span class="data-text">Pomodoro's Completed Today</span>
            </div>
            <div id="total_pomodoros" class="data-row">
              <span class="label label-info data">0</span>
              <span class="data-text">Total Pomodoro's</span>
            </div>
            <div class="data-row">
              <span id="total_tasks" class="label label-default data pulse">0</span>
              <span class="data-text">Total Tasks</span>
            </div>
            <div class="data-row">
              <span id="inProgress_tasks" class="label label-warning data pulse">0</span>
              <span class="data-text">In progress</span>
            </div>
            <div class="data-row">
              <span id="complete_tasks" class="label label-success data pulse">0</span>
              <span class="data-text">Complete</span>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- /container -->    
    <hr>
    <footer>
      <p>Digital Pomodoro 2012 - Written by <a href="http://www.twitter.com/Mark_Kellett" title="Mark Kellett" target="_blank">@Mark_Kellett</a> & 
	   <a href="http://www.twitter.com/loveforweb" title="Jag Kumar" target="_blank">@loveforweb</a></p> 
    </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.7.1.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootbox.min.js"></script>

    <script src="js/jquery.tmpl.min.js"></script>
    <script src="js/underscore-min.js" type="text/javascript"></script>
    <script src="js/backbone.js" type="text/javascript"></script>
    <script src="js/backbone-localstorage.js" type="text/javascript"></script>
    <script src="js/global.js" type="text/javascript"></script>
    <script src="js/views/base_view.js" type="text/javascript"></script>
    <script src="js/models/settings_model.js" type="text/javascript"></script>
    <script src="js/models/todos_model.js" type="text/javascript"></script>
    <script src="js/views/menu.js" type="text/javascript"></script>
    <script src="js/models/pomodoro_model.js" type="text/javascript"></script>
    <script src="js/views/task.js" type="text/javascript"></script>
    <script src="js/views/settings.js" type="text/javascript"></script>
    <script src="js/views/statistics.js" type="text/javascript"></script>
    <script src="js/views/timer.js" type="text/javascript"></script>
    <script src="js/views/fullscreen.js" type="text/javascript"></script>
    <script src="js/views/application.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            APP.init();
        });
    </script>

    <!-- Templates -->
    <script type="text/x-jquery-tmpl" id="statTemplate">
      <div class="data-row">
          <span class="label label-info data">{amount}</span>
          <span class="data-text">{title}</span>
      </div>
    </script>

    <script type="text/x-jquery-tmpl" id="todoTemplate">
        <td class="checkArea"><input class="check" {{if attributes.done }} checked {{/if}} type="checkbox" /></td>
        <td>
          <div class="display">
            <div class="todo-text {{if attributes.done }} done {{/if}}">${attributes.name}</div>
          </div>
          <div class="edit">
            <input class="todo todo-input" id="edit-todo" type="text" value="${attributes.name}" />
          </div>
        </td>
        <td class="removeArea"><div class="icon-remove-sign todo-destroy"></div></td>
    </script>
  </body>
</html>
